@model NCD_Web.Models.SearchParamsViewModel

@{
    ViewBag.Title = "Search conditions";
}

<div class="search-body">
    <h2>@ViewBag.Title</h2>
    <h4>Type any conditions</h4>
    <hr />

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row search-row">
            <label class="col-sm-4 control-label">Names (use comma)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Names, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Names, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row search-row">
            <label class="col-sm-4 control-label">Sex</label>
            <div class="col-sm-8">
                @Html.EnumDropDownListFor(x => x.Sex, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Sex, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row search-row">
            <label class="col-sm-4 control-label">Nationality (use comma)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Nationality, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Nationality, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row search-row">
            <label class="col-sm-4 control-label">Age</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.StartAge, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.StartAge, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-sm-2 control-label">-</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.EndAge, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EndAge, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row search-row">
            <label class="col-sm-4 control-label">Height</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.StartHeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.StartHeight, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-sm-2 control-label">-</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.EndHeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EndHeight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row search-row">
            <label class="col-sm-4 control-label">Weight</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.StartWeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.StartWeight, "", new { @class = "text-danger" })
                    </div>
                    <label class="col-sm-2 control-label">-</label>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(x => x.EndWeight, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EndWeight, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="search-row">
            <input type="submit" value="Find" class="btn btn-primary" />
            <div class="text-danger">
                @ViewBag.Error
            </div>
        </div>
    }
    </div>